node-linker=hoisted
# node-linker=isolated 
# symlink=false
symlink=true

# If you want each module to have its own node_modules directory
# This was needed if you had two packages that had the same dependency
# but a different version, then typescript would throw errors about
# duplicate types
# shared-workspace-lockfile=false